/* Reset de estilos y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* Estilos generales */

header {
    background: linear-gradient(to right, #1BE7B0, #0D0A6B);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header__img {
    max-width:50%;
    height: auto;
}

h1 {
    font-family: 'Karma', serif;
    font-size: 28px;
}

.nav {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav__ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav__ul li {
    margin-right: 20px;
    color: #111111;
}

.nav__ul li a {
    color: #0D0A6B;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Karma', serif; /* Corregido: 'karma' a 'Karma' */
    font-weight: bold;
}

.nav__ul li a:hover {
    background-color: #1BE7B0;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: left;
    }

    .nav__ul {
        flex-direction: column;
        text-align: left;
    }

    .nav__ul li {
        margin: 0;
        margin-bottom: 10px;
    }
}


h2 {
    
    color: #0D0A6B;
    font-size: 4vh;
    font-family: "Karma", serif;
    text-align: center;
    height: auto;
    padding: 30px 20px;
    background-color: #1BE7B0;
    margin-top: 20px;
}


/* Formulario de contacto */
#contacto {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

input,
textarea {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #1BE7B0;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0D0A6B;
}

/* Contacto Rápido */
#contacto-rapido {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}

#contacto-rapido h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

#contacto-rapido p {
    margin-bottom: 10px;
    font-size: 16px;
}

#contacto-rapido a {
    color: #0D0A6B;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#contacto-rapido a:hover {
    text-decoration: underline;
}

.fa-whatsapp {
    height: 85px;
}

